
<div class="tasks-container">
  <div class="tasks">
    <form ng-submit="addTask()" ng-mouseleave="onBlur()" ng-mouseenter="onFocus()" class="task-input"><span ng-show="!displaySearch &amp;&amp; inputHelp" ng-click="addTask()" class="input-extra input-help">Click here to add it</span><span ng-show="!displaySearch" ng-click="showSearch()" class="input-extra input-search">Search</span><span ng-show="displaySearch" ng-click="showAddTask()" class="input-extra input-add-task">Add task</span>
      <input type="text" ng-model="newTaskTitle" placeholder="Write your task..." ng-show="!displaySearch"/>
      <input type="text" ng-model="taskFilter" placeholder="Search tasks..." ng-show="displaySearch"/>
    </form>
    <div>
      <task ng-repeat-start="task in tasks | filter:taskFilter" model="task" ng-hide="currentlyEdited === task" on-edit="editTask"></task>
      <task-editor ng-repeat-end="ng-repeat-end" model="task" ng-if="currentlyEdited === task" on-cancel="cancelEdition"></task-editor>
    </div>
  </div>
</div>