
<div class="tasks-container">
  <div class="tasks">
    <form ng-submit="addTask()" class="task-input">
      <p ng-class="{show: inputHelp}" class="input-help">Press enter to add it</p>
      <input name="title" type="text" ng-model="newTaskTitle" placeholder="Write your task..." ng-blur="inputHelp = false;" ng-focus="inputHelp = true; currentlyEdited = null;"/>
    </form>
    <div>
      <task ng-repeat-start="task in tasks" model="task" ng-hide="currentlyEdited === task" on-edit="editTask"></task>
      <task-editor ng-repeat-end="ng-repeat-end" model="task" ng-if="currentlyEdited === task" on-cancel="cancelEdition"></task-editor>
    </div>
  </div>
</div>